@import 'app/bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap';
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

@font-face {
    font-family: capture;
    src: url(../fonts/capture.ttf);
}


$img-strawberry: '../images/strawberry.jpg';
$img-logo: '../images/logo.png';

body {
	font-family: 'Open Sans', sans-serif;
}

/* Navbar */

.navbar-header {
	/* Only because we have no other menu items YET */
	float: none;
}

.navbar-inverse {
	background-color: rgb(0, 2, 34);
	background-color: rgba(0, 0, 0, 0.7);
	margin: 0;
}

.navbar-inverse a, .navbar-inverse .navbar-brand {
	color: #fff;
}

.navbar .donate {
	float: right;
	background-color: rgb(0, 156, 222);
	border-radius: 15px;
	margin: 8px;
	padding: 6px 10px;
}

.navbar .donate:hover {
	background-color: rgb(12, 141, 196);
	text-decoration: none;
} 

/* Main Content */

.logo {
	height: 100vh;
	padding: 50px 0;
	background: url($img-strawberry) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.logo .row {
	margin-right: 0;
}

.logo img {
	width: inherit;
	max-width: 350px
}

.about {
	margin: 50px auto;
}

.about .author {
	padding: 0 40px 0;
}

.about-text {
	padding: 20px 0;
}

.handle {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

.handle p {
	font-family: capture;
	font-size: 24px;
	color: #DE0914;
}

.handle a:hover {
	color: #DE0914;
}

.handle a:focus {
	outline: none;
	text-decoration: none;
}

@media (min-width: $screen-sm-min) {

	.handle p {
		font-size: 30px;
	}

}

@media (min-width: $screen-md-min) {

	.handle p {
		font-size: 40px;
	}

}
