@import 'app/bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap';

$img-strawberry: '../images/strawberry.jpg';

body {
	background-image: url($img-strawberry);
	background-repeat: no-repeat;
}
